<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460123550050-359g3l5taacq39qs7dkepmfbea0l4haf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460123550050-359g3l5taacq39qs7dkepmfbea0l4haf</string>
	<key>API_KEY</key>
	<string>AIzaSyCj8gxfxbZ1wZfDVWwY8r0Zui6UJzD-_p0</string>
	<key>GCM_SENDER_ID</key>
	<string>460123550050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radutupac.PolyCook</string>
	<key>PROJECT_ID</key>
	<string>polycook-8d240</string>
	<key>STORAGE_BUCKET</key>
	<string>polycook-8d240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460123550050:ios:44ec925e9104ca9d177c3b</string>
</dict>
</plist>